body {
  font-family: 'Open Sans', sans-serif;
}

h1 , .feature-title , .cta-title {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 49px;
}

/****************Bootstrap Classes*******************/
.container-fluid {
  padding: 3% 5%;
}

.btn {
  background-color: hsl(322, 100%, 66%);
  border-radius: 71px;
  width: 230px;
  color: white;
}

.btn:hover {
  color: white;
}

/*****************Title Section*********************/
#title {
  background-color: powderblue;
  text-align: left;
}

.navbar {
  margin-bottom: 50px;
}

.btn-nav {
  background-color: white;
  color: black;
  width: 190px;
  position: absolute;
  right: 4px;
  top: 17px;
}

.btn-nav:hover {
  color: black;
}

.title-mockup {
  width: 542px;
  margin-left: 76px;
}

.title-par, .feature-par {
  font-size: 22px;
  font-weight: 400;
}

.title-par {
  margin: 26px 0 47px 0;
}

/************Features Section***************/
#features{
}

.features-box , .cta{
  background-color: white;
  box-shadow: 10px 10px 22px 1px rgba(0, 0, 0, 0.75);
  border-radius: 18px;
}

.features-box{
  padding: 9% 2% 11% 2%;
  text-align: left;
  margin: 98px 0;
}

.feature-title {
  margin-bottom: 19px;
}

.feature-img  {
  width: 412px;
  float: right;
  position: relative;
  bottom: 50px;
}
.feature-img-left{
  float: left;
  margin-right: 40px;
}

.feature-par {
  color: hsl(192, 100%, 9%);
}
/**********Footer Section***********/
#footer{
  background-color: powderblue;
}
.cta{
  text-align: center;
  padding: 7% 10%;
  position: relative;
  top: 50px;
}
.cta-title{
  font-size: 20px;
  margin-bottom: 10px;
}
.container-fluid-2{
  padding: 0 35%;
}
.container-fluid-footer{
  padding: 6% 5%;
}
.logo-footer{
  margin-bottom: 32px;
}
table{
  border-style: hidden;
  border-collapse: separate;
  border-spacing: 15px;
}
.link-footer{
  padding-left: 53px;
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
}
i{
  margin-right: 20px;
}
.social-media{
  text-align: right;
  margin-top: 20px;
  font-size: 22px;
}
.copyright{
  opacity: 80%;
  text-align: center;
  margin-top: 67px;
}
@media (max-width:1024px) {
  #title{
    text-align: center;
  }
  .title-mockup{
    margin-left: 0;
    margin-top: 20px;
  }
}
